<!-- Footer section with copyright information -->
<div class="card w-100 mt-5" style="position: fixed; left: 0; bottom: 0; width: 100%">
  <div class="card-header">
    <!-- Copyright notice -->
    <p>&#169; All Rights Reserved</p>
    <!-- Footer citation with the author's name -->
    <footer class="blockquote-footer">
      <cite title="Source Title">Anam</cite>
    </footer>
  </div>
</div>
